bodyColor = #d7eff9

/* general styles */
*, h1, h2, h3, h4, h5, h6
	margin 0

body
	background-color bodyColor
	
.header
	background-color darken(bodyColor, 60%)
	padding 20px
	margin-bottom 20px

h1
	text-align center
	color #fff

/* event form */
.eventForm
	background-color darken(bodyColor, 20%)
	padding 20px
	border-radius 20px

h3
	margin-bottom 15px

select, input 
	margin-bottom 15px
	
#addEventBtn
	float right

/* event list */
#event
	margin 0px 0px 15px
	width 100%
	height 100px
	padding 20px
	border-radius 20px
	background-color rgba(100, 100, 100, 0.6)
	
.mainEvent
	background-color rgba(255, 0, 0, 0.6)

.dining
	background-color rgba(0, 255, 0, 0.6)

.shopping
	background-color rgba(0, 0, 255, 0.6)